<div class="my-wrapper">
	<h1>My Pics</h1>

	<% @pics.each do |pic| %>
		<div class="span3 box text-center">
			<h2>
				Hour <%= pic.hour %> <br />
			</h2>

			<div>
				<%= image_tag pic.image %>
			</div>

			<h3>
				I feel <%= pic.emotion %>
			</h3>
			<p>
				I learned that <%= pic.learned %>
			</p>
			<%= link_to 'Vote Up', votes_path(:pic_id => pic.id, :mode => 1), :method => :post %> |
			<%= link_to 'Vote down', votes_path(:pic_id => pic.id, :mode => -1), :method => :post  %> 



			<p>Total: <%= pic.votes.sum(&:mode) %> </p>
		</div>
	<% end %>
</div>