
<div class="span6 offset3 text-center stolen-surfbox">
<h1>Upload Your Pic</h1>

	<%= simple_form_for @pic do |f| %>
		<%= f.input :hour %>
		<%= f.input :image, :as => :file %>
		
		<%= f.input :emotion, :label => 'mood' %>
		<%= f.input :learned, :input_html => {:rows => 10} %>
		<%= submit_tag "Save", :class => "btn btn-primary btn-large" %>
	<% end %>
</div>